<div id="main-wrapper" class="container">
    <div class="row justify-content-center">
        <div class="col-xl-10">
            <div class="card border-0">
                <div class="card-body p-0">
                    <div class="row no-gutters">
                        <div class="col-lg-6">
                            <div class="p-5">
                                <div class="mb-5">
                                    <h3 class="h4 font-weight-bold text-theme">Registro</h3>
                                </div>

                                <h6 class="h5 mb-0">Bienvenido!</h6>
                                <p class="text-muted mt-2 mb-5">Ingresa tus datos para crear tu cuenta.</p>

                                <form>
                                    <div class="form-group">
                                        <label for="exampleInputEmail1">Email</label>
                                        <input type="email" class="form-control" id="email" autofocus required [(ngModel)]="usuario.email" [ngModelOptions]="{standalone: true}">
                                    </div>
                                    <div class="form-group mb-5">
                                        <label for="exampleInputPassword1">Password</label>
                                        <input type="password" class="form-control" id="password" required [(ngModel)]="usuario.password" [ngModelOptions]="{standalone: true}">
                                    </div>
                                    <div class="form-group">
                                        <label for="exampleInputName">Nombre</label>
                                        <input type="text" class="form-control" id="name" autofocus required [(ngModel)]="usuario.nombre" [ngModelOptions]="{standalone: true}">
                                    </div>
                                    <div class="form-group">
                                        <label for="exampleInputLastname">Apellidos</label>
                                        <input type="text" class="form-control" id="lastname" autofocus required [(ngModel)]="usuario.apellidos" [ngModelOptions]="{standalone: true}">
                                    </div>
                                    <button type="submit" class="btn btn-theme" (click)="registrar()">Registrarse!</button>  
                                </form>
                            </div>
                        </div>

                        <div class="col-lg-6 d-none d-lg-inline-block">
                            <div class="account-block rounded-right">
                                <div class="overlay rounded-right"></div>
                                <div class="account-testimonial">
                                    <h4 class="text-white mb-4">Tienda</h4>
                                    <p class="lead text-white">"Registrate para poder comprar."</p>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <!-- end card-body -->
            </div>
            <!-- end card -->

            <p class="text-muted text-center mt-3 mb-0">
                ¿Ya tienes una cuenta? <a class="text-primary ml-1" [routerLink]="['/auth/login']" >Inicia sesión</a>
            </p>

            <!-- end row -->

        </div>
        <!-- end col -->
    </div>
    <!-- Row -->
</div>